:root{

    --color01: #365B73;
    --color02: #5AA3BF;
    --color03: #D9D0C7;
    --color04: #A67458;
    --color05: #A65437;

}

header{
    display: flex;
    justify-content: space-around;
    padding: 2rem;
    align-items: center;
}

#nav__links a{
    text-decoration: none;
    color: black;
    padding: .5rem;
    transition: 2s;
    border-top:2px solid white;
    border-bottom:2px solid white;
}
#nav__links a:hover{
    border-top:2px solid var(--color01);
    border-bottom:2px solid var(--color01);
    transition: 1s;
}


#logo{
    color: var(--color01);
    font-weight: 900;
    font-size: 5rem;    
}

#nav{
    /* margin-right: 3rem; */
}

#nav *{
    display: flex;
    gap: 50PX;
}

#nav li{
    font-size: 1.5rem;
}