


@media(max-width: 600px){
    #logo{
        position: absolute;
        z-index: 1;
        top: 15px;
        left: 15px;
        font-size: 15vw;
    }

    .landing {
        padding:0 4vw 0 4vw;
        position: relative;
    }


    #nav__links li{    
        display: none;
    }

    .landTxt{
        margin-top: 5rem;
    }

    .landTxt {
        color: black;       
        padding-bottom: 15rem;
    }
    .landTxt h2#EMP{
        color: var(--color01);
        font-size: 8vw;
        font-weight: 600;
        text-align: center;
        margin-bottom: 3vh;
    }
    .landTxt p{
        font-size: 3vh;
    }
    .landImg{
        display: none;
    }

    .mobileImg{
        display: block;
        z-index: -1;
        position: absolute;
        top: 35vh;
        left: 0;
    }

    .services h2{
        font-size: 8vw;
        font-weight: 400;
    }
    .services__group{
        font-size: 2.5vh;
        flex-wrap: wrap;
        gap: 100px;
    }
    .services__group img{
        width: 100px;
    }
    .maps h2{
        margin: 2rem;
    }

    .reviews{
        flex-direction: column;
    }
    .review{
        padding: 1rem;
        max-width: 100%;
    }
    .review h3 {
        font-size: 1.5rem;
    }
    .review p{
        font-size: 1.3rem;
    }
    .groupTitle{
        font-size: 7vw;
        font-weight: 400; 
        text-align: center;
    }

}