



@media(max-width: 600px){
    #logo{
        position: absolute;
        z-index: 1;
        top: 10px;
        left: 10px;
        font-size: 2rem;
    }

    #nav__links li{    
        display: none;
    }

    .landTxt{
        padding-top: 1rem;
        position: relative;
    }

    .landTxt {
        color: black;       
        padding-bottom: 15rem;
    }
    .landImg{
        display: none;
    }

    .mobileImg{
        display: block;
        z-index: -1;
        position: absolute;
        top: 15rem;
        left: 0 ;
        max-width: 30px;
       
    }


    .services__group{
        font-size: .8rem;
        flex-wrap: wrap;
        gap: 25px;
    }
}